
@font-face {
    font-family: displayFont;
    src: url("/assets/font/PKMN\ RBYGSC.ttf");
}

body{
    margin:0%;
    font-family: displayFont;
}
/* Conteneur Global */
main{
    overflow: hidden;
    position:relative;
    width:100vw;
    height:100vh;
}




/* Conteneur du texte et choix de combat */


.choix p{
font-size: 2.em;
}


.choix{
    position: absolute;
    bottom: -10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#choix1{
    width: 20%;
    padding-top: 0.3%;
    
}

#choix2{
    padding-top: 0.3%;
    width: 20%;
}

#choix3{
    padding-top: 0.3%;
    width: 20%;
}

.choice-box img{
    width: 95%;
    aspect-ratio: 1/1;
}


.choice-box button{
    background: none;
    border: none;
    width: 95%;
}