body{

    margin:0%;
}
/* Conteneur Global */
main{
    overflow: hidden;
    position:relative;
    width:100vw;
    height:100vh;

}

main .battle-background{

    width:100%;
    height:100%;
}


/* Conteneur des barre de vie adverse */
.ai-bar-list
{
    top:0%;
    left:-0.7%;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:40%;
    height:25%;
}

.ai-bar-list img
{
    width:80%;
    height:80%;
}
/* Barre de vie contenue dans .ai-bar-list */
.ai-life-bar{
    position: relative;
    width:100%;
    height:30%;
}
/* Gestion de la barre de vie  min-width:25% max-width:29.5% */
.ai-life-bar #life-bar1
{
    position: absolute;
    width: 29.5%;
    height: 7%;
    background-color: #5DD531;
    left:29%;
    bottom: 53%;
}
.ai-life-bar #life-bar2
{
    position: absolute;
    width: 29.5%;
    height: 7%;
    background-color: #5DD531;
    left:29%;
    bottom: 53%;
}
.ai-life-bar #life-bar3
{
    position: absolute;
    width: 29.5%;
    height: 7%;
    background-color: #5DD531;
    left:29%;
    bottom: 53%;
}





/* Conteneur des barres de vie du joueur*/
.bar-list{

    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content:center;
    right:-10%;
    bottom: 27%;
    width:40%;
    height:37%;
    z-index: 4;
}

.bar-list img
{
    width:80%;
    height:80%;
}
/* Barre de vie contenue dans .bar-list */
.life-bar{

    position:relative;
    width:100%;
    height:30%;
}
.life-bar #life-bar1{
    position: absolute;
    width: 29.5%;
    height: 5%;
    background-color: #5DD531;
    right:35%;
    bottom: 66%;
}
.life-bar #life-bar2{
    position: absolute;
    width: 29.5%;
    height: 5%;
    background-color: #5DD531;
    right:35%;
    bottom: 66%;
}
.life-bar #life-bar3{
    position: absolute;
    width: 29.5%;
    height: 5%;
    background-color: #5DD531;
    right:35%;
    bottom: 66%;
}

/* Conteneur du texte et choix de combat */
.choice-box{

    position:absolute;
    width:100%;
    height:29.5%;
    bottom:0%;
    border:2px solid black;
    
}


/* Paramaetre des div pokemon du joueur */
#player-poke1
{
    position: absolute;
    width:10%;
    height:30%;

    left: 10%;
    bottom: 20%;
}
#player-poke2
{
    position: absolute;
    width:10%;
    height:30%;

    left: 25%;
    bottom: 20%;
}
#player-poke3
{
    position: absolute;
    width:10%;
    height:30%;

    left: 40%;
    bottom: 20%;
}

/* parametre div des pokemon de l'ia */
#ai-poke1
{
    position: absolute;
    width:10%;
    height:30%;

    right: 10%;
    top: 10%;
}
#ai-poke2
{
    position: absolute;
    width:10%;
    height:30%;

    right: 25%;
    top: 10%;
}
#ai-poke3
{
    position: absolute;
    width:10%;
    height:30%;

    right: 40%;
    top: 10%;
}

.pokemon img{

    position:absolute;
    width:100%;
    height:100%;
}















