

body{

    margin:0%;
    position:relative;
}
/* Conteneur Global */
main{
    overflow: hidden;
    position:relative;
    width:100vw;
    height:100vh;

}

main .battle-background{

    width:100%;
    height:100%;
}


/* Conteneur des barre de vie adverse */
.ai-bar-list
{
    top:0%;
    left:-0.7%;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:40%;
    height:25%;
}

.ai-bar-list img
{
    width:80%;
    height:80%;
}
/* Barre de vie contenue dans .ai-bar-list */
.ai-life-bar{
    position: relative;
    width:100%;
    height:30%;
}
.ai-life-bar p{

    font-size: 50%;

    color: white;
}
.ai-life-bar .type-icon{


    width:20px;
    height: 20px;
    z-index: 8;
}

.ai-life-bar .player-pokemon-info{
    position: absolute;
    display: flex;
    left: 15%;
    top:0%;
    flex-direction: row;

    width:80%;
}
/* Gestion de la barre de vie  min-width:25% max-width:29.5% */
.ai-life-bar #ai-life-bar1
{
    position: absolute;
    width: 29.5%;
    height: 7%;
    background-color: #5DD531;
    left:29%;
    bottom: 53%;
    border-radius: 3px;
    transition: width 1s, background-color 1s;
}
.ai-life-bar #ai-life-bar2
{
    position: absolute;
    width: 29.5%;
    height: 7%;
    background-color: #5DD531;
    left:29%;
    bottom: 53%;
    border-radius: 3px;
    transition: width 1s, background-color 1s;
}
.ai-life-bar #ai-life-bar3
{
    position: absolute;
    width: 29.5%;
    height: 7%;
    background-color: #5DD531;
    left:29%;
    bottom: 53%;
    border-radius: 3px;
    transition: width 1s, background-color 1s;
}





/* Conteneur des barres de vie du joueur*/
.bar-list{

    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content:center;
    right:-10%;
    bottom: 27%;
    width:40%;
    height:37%;
    z-index: 4;
}

.bar-list img
{
    width:80%;
    height:80%;
}
/* Barre de vie contenue dans .bar-list */
.life-bar{

    position:relative;
    width:100%;
    height:30%;
}
.life-bar p{

    font-size: 50%;

    color: white;
}
.life-bar .type-icon{


    width:20px;
    height: 20px;
    z-index: 8;
}

.player-pokemon-info{
    position: absolute;
    display: flex;
    left: 20%;
    top:0%;
    flex-direction: row;

    width:50%;
}
.life-bar #life-bar1{
    position: absolute;
    width: 30.4%;
    height: 4.5%;
    background-color: #5DD531;
    left:35.8%;
    bottom: 67.5%;
    border-radius: 3px;
    transition: width 1s, background-color 1s;
}
.life-bar #life-bar2{
    position: absolute;
    width: 30.4%;
    height: 4.5%;
    background-color: #5DD531;
    left:35.8%;
    bottom: 67.5%;
    border-radius: 3px;
    transition: width 1s, background-color 1s;
}
.life-bar #life-bar3{
    position: absolute;
    width: 30.4%;
    height: 4.5%;
    background-color: #5DD531;
    left:35.8%;
    bottom: 67.5%;
    border-radius: 3px;
    transition: width 1s, background-color 1s;
}

/* Conteneur du texte et choix de combat */
.choice-box{

    display: flex;
    flex-direction: column;
    position:absolute;
    width:100%;
    height:29.5%;
    bottom:0%;
    text-align: center;
    
}


/* Paramaetre des div pokemon du joueur */
#player-poke1
{
    position: absolute;
    width:15%;
    height:45%;
    transition: opacity 1s;
    left: 5%;
    bottom: 15%;
}
#player-poke2
{
    position: absolute;
    width:15%;
    height:45%;

    left: 20%;
    bottom: 15%;
}
#player-poke3
{
    position: absolute;
    width:15%;
    height:45%;

    left: 35%;
    bottom: 15%;
}

/* parametre div des pokemon de l'ia */
#ai-poke1
{
    position: absolute;
    width:15%;
    height:45%;

    right: 10%;
    top: 10%;
}
#ai-poke2
{
    position: absolute;
    width:15%;
    height:45%;

    right: 25%;
    top: 10%;
}
#ai-poke3
{
    position: absolute;
    width:15%;
    height:45%;

    right: 40%;
    top: 10%;
}

.pokemon{

    width:15%;
    height:auto;
    min-width: 96px;

    margin-right: 5%;
}
.pokemon img{

    position:absolute;
    width:100%;
    height:100%;
    min-width: 96px;


}















